# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Streamlit cache
.streamlit/

# History data
history.json

# Mac
.DS_Store

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log